<template name="Appbody">
  <head>
    <title>skunkworks-tournament</title>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Tourney</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li> {{> loginButtons}} </li>
            <li><a href="/schedule_match">Schedule Matches</a></li>
            <li><a class="view-tournaments" href="/tournaments">View Tournaments</a></li>
            {{#if currentUser }}
              <a href="/create_tournament" class="create-tournament waves-effect waves-light btn">Create tournament</a>
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
    {{> Template.dynamic template=content}}
  </body>
</template>
